.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #f0eeee;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

.login-form button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 4px;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.register-text {
  text-align: center;
  margin-top: 15px;
}
